<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Servlet 3.0 application</display-name>
	<servlet>
		<servlet-name>GhadirServ</servlet-name>
		<servlet-class>Controller.GhadirServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<servlet-class>Controller.StudentRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentProfileServlet</servlet-name>
		<servlet-class>Controller.StudentProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VolunteerRegisterServlet</servlet-name>
		<servlet-class>Controller.VolunteerRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>Controller.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>Controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
<!--<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>Controller.LoginController</servlet-class>
	</servlet>
 	<servlet>
    	<servlet-name>javaAngularJS</servlet-name>
    	<servlet-class>com.controller.AngularJsServlet</servlet-class>
  	</servlet>  -->	
	<servlet-mapping>
    	<servlet-name>StudentRegisterServlet</servlet-name>
    	<url-pattern>/StudentRegisterServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>StudentProfileServlet</servlet-name>
    	<url-pattern>/StudentProfileServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>VolunteerRegisterServlet</servlet-name>
    	<url-pattern>/VolunteerRegisterServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GhadirServ</servlet-name>
		<url-pattern>/GhadirServ</url-pattern>
	</servlet-mapping>	 
	<welcome-file-list>
		<welcome-file>MainPage.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.html</location>
	</error-page>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>